In [1]:
from pivottablejs import pivot_ui

In [3]:
import pandas

In [4]:
df = pandas.read_csv('ipivot_example_1.csv')

In [5]:
df.head()

  # Name   Age  State   Gender   Hobbies
0   Jean    30     TN     Male    Flying
1  Piotr    30     TN     Male    Soccer
2  Chris    35     TX     Male   Curling
3   Xiao    35     CA   Female    TaiChi

 For more information
[visist the official page of the developer](http://nicolas.kruchten.com/content/2015/06/montreal-311/)